@import "fonts.scss";
@import "nullstyle.scss";

.game{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vmin;
    height: 100%;
    width: 100%;
    background-color: #FAF8EF;
    overflow: hidden;

    .header{
        font-size: 7vmin;
        box-sizing: border-box; 
        width: 60vmin;
        height: 20vmin;
        background-color: #fff;
        color: #776E65;
        font-family: clearSans;
        text-transform: uppercase;
    }

    .field{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 60vmin;
        height: 60vmin;
        background-color: #BBADA0;
        border-radius: 2%;
    
        .field__cell{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 6.3vmin;
            font-family: clearSans;
            color: #F9F6F2;
            width: 12vmin;
            height: 12vmin;
            box-sizing: border-box;
            margin: 2%;
            border-radius: 5%;
            background-color: #CDC1B4;
        }
    }
}  


/*******************************************************************/


.game .field .field__cell[data-color="2"]{
    background-color: #EEE4DA;
    color: #776E65;
}
.game .field .field__cell[data-color="4"]{
    background-color: #EDE0C8;
    color: #776E65;
}
.game .field .field__cell[data-color="8"]{
    background-color: #F2B179;
}
.game .field 
.game .field .field__cell[data-color="32"]{
    background-color: #F67C5F;
}
.game{
    .field{
        .field__cell[data-color="2"]{
            background-color: #EEE4DA;
            color: #776E65;
        }
        .field__cell[data-color="4"]{
            background-color: #EDE0C8;
            color: #776E65;
        }
        .field__cell[data-color="8"]{
            background-color: #F2B179;
        }
        .field__cell[data-color="16"]{
            background-color: #F59563;
        }
        .field__cell[data-color="32"]{
            background-color: #F67C5F;
        }
        .field__cell[data-color="64"]{
            background-color: #F65E3B;
            }
        
    }
}
/*
#FFD300
#FFAB00
#FF9400
#FF7600
#FF0700
#A60400
*/